figure{

    border: 3px solid rgb(46, 231, 70);
    text-align: center;
    padding: 15px;
    margin: 30px;
}

* {
    margin: 0;
    padding: 0;
}

header a{
    color:rgb(255, 253, 253);
    text-decoration: none;
    transition: 0.3;
}

a :hover{
    opacity: 0.7;
}

.logo{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: system-ui,-apple-system, Helvetica, Arial, sans-serif;
    background: #14c022;
    height: 8vh;
}

main{
    background-size: cover;
    height: 92vh;
}

.nav-list{
    list-style: none;
    display: flex;
}
.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
}

p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style:oblique
}


